<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="drawn.lltvcn.com.textdemo">

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--<activity android:name=".TestScrollActivity">-->
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->

                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        <!--</activity>-->
        <activity android:name=".ListActivity"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ReviewActivity"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden"
            >
        </activity>

        <activity android:name=".ReviewAniActivity"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden"
            >
        </activity>

        <activity android:name=".CodeActivity"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden"
            >
        </activity>

        <activity android:name=".EditActivity"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden"
            >
        </activity>

        <activity android:name=".DemoActivity"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"
            >
        </activity>
    </application>


    <uses-permission android:name="android.permission.WRITE_OWNER_DATA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

</manifest>